section.breadcrumbs
	.container
		.row
			.col-12
				ul.breadcrumbs__links
					li.breadcrumbs__item
						a(href="#") Мебелюка
					li.breadcrumbs__arrow
					li.breadcrumbs__item
						a(href="#") Мебель для спальни
					li.breadcrumbs__arrow
					li.breadcrumbs__item
						a(href="#") Кровати
					li.breadcrumbs__arrow
					li.breadcrumbs__current
						a(href="#") Глэдис-РБ P-8580-0