.goods.goods_discounted.goods_about-store-second
	.container
		.row
			.col-12
				h2.goods__title И наконец у нас прекрасные низкие цены!
		.row
			.col-3.col-lg-6.col-sm-12
				.goods__item
					.goods__img
						a(href="#")
							img(src="assets/images/content/fixtures.png" alt="Лампа Алжир")
					.goods__category Светильники
					h3.goods__name Лампа Алжир
					.goods__prices
						.goods__starting-price 20 000 ₽
						.goods__price 15 000 ₽
			.col-3.col-lg-6.col-sm-12
				.goods__item
					.goods__img
						a(href="#")
							img(src="assets/images/content/tables.png" alt="Столик Египет")
					.goods__category Столы
					h3.goods__name Столик Египет
					.goods__prices
						.goods__starting-price 20 000 ₽
						.goods__price 8 000 ₽
			.col-3.col-lg-6.col-sm-12
				.goods__item
					.goods__img
						a(href="#")
							img(src="assets/images/content/interior_items.png" alt="Картина Японское хокку")
					.goods__category Предметы интерьера
					h3.goods__name Картина Японское хокку
					.goods__prices
						.goods__starting-price 20 000 ₽
						.goods__price 12 350 ₽
			.col-3.col-lg-6.col-sm-12
				.goods__item.goods__item_view-products
					a(href="#") Смотреть товары со скидками