.fav
	.fav__button
		img(src="assets/images/fav-icon.svg", alt="")
		span 2
	.fav__content
		.fav__title Избранные товары
		.fav__item
			.fav__item-del
				a(href="#")!='<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10.35" height="10.35" viewBox="0 0 10.35 10.35"><path d="M6.278,5.169 L10.085,8.977 C10.397,9.289 10.397,9.795 10.085,10.107 C9.929,10.263 9.725,10.341 9.521,10.341 C9.316,10.341 9.112,10.263 8.956,10.107 L5.150,6.298 L1.343,10.107 C1.187,10.263 0.983,10.341 0.779,10.341 C0.575,10.341 0.370,10.263 0.214,10.107 C-0.097,9.795 -0.097,9.289 0.214,8.977 L4.021,5.169 L0.214,1.360 C-0.097,1.048 -0.097,0.543 0.214,0.231 C0.526,-0.081 1.032,-0.081 1.343,0.231 L5.150,4.039 L8.956,0.231 C9.268,-0.081 9.773,-0.081 10.085,0.231 C10.397,0.543 10.397,1.048 10.085,1.360 L6.278,5.169 Z" class="cls-1"/></svg>'
			.fav__item-img
				img(src="assets/images/content/shop-fav.jpg", alt="")
			.fav__item-desk
				span Кровати
				a(href="#") Односпальная кровать 126-PS
				strong 15 000 ₽
			.fav__item-buy
				button В корзину
		.fav__item
			.fav__item-del
				a(href="#")!='<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10.35" height="10.35" viewBox="0 0 10.35 10.35"><path d="M6.278,5.169 L10.085,8.977 C10.397,9.289 10.397,9.795 10.085,10.107 C9.929,10.263 9.725,10.341 9.521,10.341 C9.316,10.341 9.112,10.263 8.956,10.107 L5.150,6.298 L1.343,10.107 C1.187,10.263 0.983,10.341 0.779,10.341 C0.575,10.341 0.370,10.263 0.214,10.107 C-0.097,9.795 -0.097,9.289 0.214,8.977 L4.021,5.169 L0.214,1.360 C-0.097,1.048 -0.097,0.543 0.214,0.231 C0.526,-0.081 1.032,-0.081 1.343,0.231 L5.150,4.039 L8.956,0.231 C9.268,-0.081 9.773,-0.081 10.085,0.231 C10.397,0.543 10.397,1.048 10.085,1.360 L6.278,5.169 Z" class="cls-1"/></svg>'
			.fav__item-img
				img(src="assets/images/content/shop-fav.jpg", alt="")
			.fav__item-desk
				span Кровати
				a(href="#") Односпальная кровать 126-PS
				strong 15 000 ₽
			.fav__item-buy
				button В корзину