section.mainmenu
	.mainmenu__inner
		.container
			.row
				.col-12
					.mainmenu__mobile-phone.left!= '8 (800) 775 73 18'
					.mainmenu__cart-mobile.right
						a(href="#")!= '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="28.82" height="28.81" viewBox="0 0 28.82 28.81"><path d="M28.295,9.767 C27.840,9.199 27.160,8.869 26.443,8.870 L24.841,8.870 L18.247,0.550 C17.747,-0.081 16.843,-0.177 16.228,0.335 C15.612,0.846 15.517,1.772 16.017,2.404 L21.142,8.870 L7.376,8.870 L12.505,2.404 C13.004,1.772 12.910,0.846 12.295,0.335 C11.679,-0.177 10.775,-0.081 10.275,0.550 L3.677,8.885 L2.399,8.885 C1.078,8.885 0.007,9.982 0.006,11.336 C0.006,11.500 0.022,11.665 0.055,11.826 L2.514,24.499 C3.014,27.010 5.171,28.813 7.672,28.813 L21.166,28.813 C23.678,28.813 25.840,26.994 26.329,24.469 L28.774,11.797 C28.917,11.081 28.742,10.337 28.295,9.767 ZM11.069,21.469 C11.069,22.281 10.427,22.939 9.634,22.939 C8.841,22.939 8.199,22.281 8.199,21.469 L8.199,16.454 C8.199,15.641 8.841,14.984 9.634,14.984 C10.427,14.984 11.069,15.641 11.069,16.454 L11.069,21.469 ZM15.854,21.469 C15.854,22.281 15.211,22.939 14.419,22.939 C13.626,22.939 12.983,22.281 12.983,21.469 L12.983,16.454 C12.983,15.641 13.626,14.984 14.419,14.984 C15.211,14.984 15.854,15.641 15.854,16.454 L15.854,21.469 ZM20.639,21.469 C20.639,22.281 19.997,22.939 19.204,22.939 C18.411,22.939 17.768,22.281 17.768,21.469 L17.768,16.454 C17.768,15.641 18.411,14.984 19.204,14.984 C19.997,14.984 20.639,15.641 20.639,16.454 L20.639,21.469 Z" class="cls-1"/></svg><div class="mainmenu__cart-mobile-num">0</div>'
					.mainmenu__mobile-search.right
						a(href="#")!= '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="21" height="21" viewBox="0 0 21 21"><path d="M20.539,18.411 L15.346,13.188 C15.661,12.715 15.930,12.207 16.150,11.668 C16.989,9.605 16.992,7.330 16.158,5.264 C15.324,3.199 13.746,1.570 11.714,0.679 L11.710,0.677 C10.669,0.234 9.569,0.009 8.438,0.009 C8.434,0.009 8.429,0.009 8.424,0.009 C6.171,0.011 4.053,0.895 2.461,2.498 C0.868,4.101 -0.008,6.233 -0.006,8.499 C-0.004,11.912 2.017,14.977 5.143,16.307 L5.147,16.309 C6.178,16.733 7.260,16.945 8.342,16.945 C9.447,16.945 10.553,16.723 11.604,16.280 C12.189,16.033 12.737,15.726 13.242,15.365 L18.405,20.557 C18.695,20.849 19.076,20.995 19.457,20.995 C19.838,20.995 20.219,20.849 20.509,20.557 L20.539,20.527 C21.119,19.943 21.119,18.994 20.539,18.411 ZM13.842,8.491 C13.843,11.495 11.413,13.939 8.426,13.939 C8.426,13.939 8.426,13.939 8.426,13.939 C5.439,13.939 3.009,11.496 3.009,8.492 C3.009,5.488 5.439,3.045 8.425,3.045 C8.425,3.045 8.425,3.045 8.426,3.045 C11.412,3.045 13.842,5.488 13.842,8.491 Z" class="cls-1"/></svg>'
					.mainmenu__left
						ul
							li.logo-small
								a(href="#")
									img(src="assets/images/logo-small.png", alt="")
							li
								a(href="#") Гостинная
							li.dropdown
								a(href="#") Спальня
								//- submenu
								.mainmenu-sub
									.mainmenu-sub__inner
										.container
											.row
												.col-3
													ul
														li
															a(href="#")!= '<span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="14" viewBox="0 0 24 14"><path d="M23.629,13.248 L17.662,13.248 C17.456,13.248 17.289,13.075 17.289,12.861 L17.289,8.228 C17.289,8.015 17.456,7.842 17.662,7.842 L23.629,7.842 C23.835,7.842 24.002,8.015 24.002,8.228 L24.002,12.861 C24.002,13.075 23.835,13.248 23.629,13.248 ZM23.256,11.587 L18.035,11.587 L18.035,12.475 L23.256,12.475 L23.256,11.587 ZM22.883,4.946 L21.018,4.946 L21.018,7.070 C21.018,7.283 20.851,7.456 20.645,7.456 C20.439,7.456 20.272,7.283 20.272,7.070 L20.272,4.946 L18.408,4.946 C18.172,4.946 17.996,4.723 18.042,4.484 L18.788,0.622 C18.823,0.442 18.976,0.312 19.154,0.312 L22.137,0.312 C22.315,0.312 22.468,0.442 22.503,0.622 L23.249,4.484 C23.295,4.723 23.118,4.946 22.883,4.946 ZM13.669,14.000 L11.589,14.000 L11.589,13.288 L3.465,13.288 L3.465,14.000 L1.385,14.000 L1.385,13.288 L-0.002,13.288 L-0.002,10.796 L15.056,10.796 L15.056,13.288 L13.669,13.288 L13.669,14.000 ZM0.330,10.084 L0.330,9.016 C0.330,8.229 0.951,7.592 1.717,7.592 L13.307,7.592 C14.073,7.592 14.694,8.229 14.694,9.016 L14.694,10.084 L0.330,10.084 ZM11.972,5.611 C11.954,4.879 12.283,4.404 12.283,4.404 C12.283,4.404 11.603,4.504 11.177,4.633 C10.814,4.744 10.722,4.464 10.211,4.464 L9.873,4.464 C9.361,4.464 9.117,4.828 8.785,4.635 C8.228,4.311 7.682,4.404 7.682,4.404 C7.682,4.404 7.980,5.131 7.992,5.611 L8.023,6.880 L6.974,6.880 L6.943,5.611 C6.925,4.879 7.253,4.404 7.253,4.404 C7.253,4.404 6.574,4.505 6.148,4.634 C5.785,4.744 5.693,4.464 5.182,4.464 L4.843,4.464 C4.332,4.464 4.207,4.828 3.876,4.635 C3.318,4.311 2.772,4.404 2.772,4.404 C2.772,4.404 3.070,5.131 3.082,5.611 L3.113,6.880 L1.385,6.880 C1.385,6.880 1.385,3.049 1.385,0.837 C1.382,0.640 1.535,0.476 1.727,0.476 C1.922,0.473 2.082,0.636 2.079,0.837 L2.079,1.544 L3.392,1.544 L4.464,0.901 C5.799,0.302 6.693,0.002 8.120,0.002 L8.120,-0.000 C9.547,-0.000 9.255,0.293 10.590,0.893 L11.662,1.536 L12.976,1.543 L12.976,0.837 C12.969,0.355 13.676,0.355 13.669,0.837 L13.669,6.879 L12.004,6.879 L11.972,5.611 Z"/></svg></span>Спальни'
														li
															a(href="#")!= '<span style="top: -3px"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="20.625" height="17.94" viewBox="0 0 20.625 17.94"><path d="M20.632,11.404 L20.632,16.640 C20.632,17.352 20.055,17.929 19.342,17.929 L18.052,17.929 C17.340,17.929 16.762,17.352 16.762,16.640 L16.312,14.970 L4.312,14.970 L3.862,16.640 C3.862,17.352 3.285,17.929 2.572,17.929 L1.282,17.929 C0.570,17.929 -0.008,17.352 -0.008,16.640 L-0.008,11.404 C-0.008,10.692 0.570,10.115 1.282,10.115 L19.342,10.115 C20.055,10.115 20.632,10.692 20.632,11.404 ZM15.472,0.010 L5.152,0.010 C4.440,0.010 3.862,0.587 3.862,1.299 L3.862,2.589 L2.572,2.589 C1.860,2.589 1.282,3.167 1.282,3.879 L1.282,8.179 L3.862,8.179 L3.862,7.535 C3.862,6.466 4.729,5.599 5.797,5.599 L7.087,5.599 C8.156,5.599 9.022,6.466 9.022,7.535 L9.022,8.179 L11.602,8.179 L11.602,7.535 C11.602,6.466 12.469,5.599 13.537,5.599 L14.827,5.599 C15.896,5.599 16.762,6.466 16.762,7.535 L16.762,8.179 L19.342,8.179 L19.342,3.879 C19.342,3.167 18.765,2.589 18.052,2.589 L16.762,2.589 L16.762,1.299 C16.762,0.587 16.185,0.010 15.472,0.010 Z" class="cls-1"/></svg></span>Кровати'
														li
															a(href="#")!= '<span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="21" height="15" viewBox="0 0 21 15"><path d="M4.427,-0.001 C3.893,-0.001 4.000,0.447 4.000,0.999 L4.000,5.000 C4.000,5.529 4.466,6.000 5.000,6.000 L9.000,6.000 C9.534,6.000 10.000,5.529 10.000,5.000 L10.000,0.999 C10.000,0.447 9.721,-0.001 9.187,-0.001 L4.427,-0.001 ZM11.812,-0.001 C11.278,-0.001 11.000,0.447 11.000,0.999 L11.000,5.000 C11.000,5.529 11.466,6.000 12.000,6.000 L17.000,6.000 C17.512,6.000 17.000,5.529 17.000,5.000 L17.000,0.999 C17.000,0.447 17.107,-0.001 16.595,-0.001 L11.812,-0.001 ZM1.424,4.637 C0.645,4.637 -0.000,5.282 -0.000,6.111 L-0.000,12.536 C-0.000,13.365 0.645,14.010 1.424,14.010 L1.913,14.010 C1.913,14.562 2.336,14.999 2.870,14.999 C3.381,14.999 3.826,14.562 3.826,14.010 L17.174,14.010 C17.174,14.562 17.619,14.999 18.130,14.999 C18.664,14.999 19.087,14.562 19.087,14.010 L19.576,14.010 C20.355,14.010 21.000,13.365 21.000,12.536 L21.000,6.111 C21.000,5.282 20.355,4.637 19.576,4.637 C18.775,4.637 18.130,5.282 18.130,6.111 L18.130,8.437 C17.841,8.207 17.463,8.092 17.062,8.092 L3.937,8.092 C3.537,8.092 3.181,8.207 2.870,8.437 L2.870,6.111 C2.870,5.282 2.225,4.637 1.424,4.637 Z" class="cls-1"/></svg></span>Кушетки'
														li
															a(href="#")!= '<span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="23" height="13" viewBox="0 0 23 13"><path d="M22.553,1.277 L21.708,0.434 C21.124,-0.146 20.179,-0.146 19.595,0.434 L14.755,5.256 L1.496,5.256 C0.671,5.256 0.002,5.923 0.002,6.744 L0.002,7.936 C0.002,8.758 0.671,9.423 1.496,9.423 L1.669,9.423 L1.669,11.805 L3.760,11.805 L3.760,12.996 L6.151,12.996 L6.151,11.805 L9.972,11.805 L9.972,12.996 L12.362,12.996 L12.362,11.805 L14.453,11.805 L14.453,9.423 L15.947,9.423 C16.345,9.423 16.733,9.141 17.202,8.712 L22.553,3.381 C23.136,2.800 23.136,1.858 22.553,1.277 ZM5.568,12.400 L4.373,12.400 L4.373,11.805 L5.568,11.805 L5.568,12.400 ZM11.764,12.400 L10.569,12.400 L10.569,11.805 L11.764,11.805 L11.764,12.400 ZM13.856,11.210 L2.281,11.210 L2.281,9.423 L13.856,9.423 L13.856,11.210 Z" class="cls-1"/></svg></span>Раскладушки'
												.col-3
													ul
														li
															a(href="#")!= '<span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="21" height="7" viewBox="0 0 21 7"><path d="M20.233,7.003 L0.766,7.003 C0.343,7.003 -0.000,6.049 -0.000,4.870 C-0.000,3.692 0.343,2.738 0.766,2.738 L20.233,2.738 C20.657,2.738 21.000,3.692 21.000,4.870 C20.999,6.049 20.656,7.003 20.233,7.003 ZM8.399,1.947 L2.867,1.947 C2.340,1.947 1.913,1.513 1.913,0.977 C1.913,0.441 2.340,0.007 2.867,0.007 L8.399,0.007 C8.925,0.007 9.353,0.441 9.353,0.977 C9.353,1.514 8.925,1.947 8.399,1.947 Z" class="cls-1"/></svg></span>Матрасы'
														li
															a(href="#")!= '<span style="top: -2px"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="20" height="16" viewBox="0 0 20 16"><path d="M19.435,12.937 C19.525,12.471 18.953,9.901 18.940,8.240 C18.926,6.569 19.501,3.628 19.416,3.076 C19.838,2.708 20.085,2.128 20.006,1.493 C19.909,0.720 19.311,0.093 18.572,-0.011 C17.968,-0.096 16.547,1.048 16.192,1.480 C16.175,1.478 16.158,1.474 16.141,1.472 C16.141,1.472 12.277,0.869 9.787,0.869 C7.588,0.869 3.548,0.450 2.934,0.561 C2.576,0.143 2.032,-0.097 1.435,-0.009 C0.689,0.102 0.092,0.748 0.010,1.531 C-0.049,2.092 0.146,2.608 0.490,2.968 C0.457,3.241 1.064,6.410 1.064,8.240 C1.064,10.030 0.458,12.729 0.502,13.015 C0.151,13.376 -0.049,13.895 0.010,14.461 C0.090,15.246 0.688,15.894 1.436,16.005 C2.030,16.093 2.574,15.854 2.931,15.437 C3.490,15.543 7.428,15.131 10.010,15.131 C12.708,15.131 17.027,15.420 17.027,15.420 C17.041,15.418 17.055,15.415 17.068,15.414 C17.423,15.842 17.971,16.091 18.572,16.006 C19.307,15.903 19.904,15.282 20.004,14.515 C20.087,13.884 19.848,13.308 19.435,12.937 ZM5.519,10.430 L5.521,10.442 L3.611,10.602 C3.610,10.588 3.430,9.322 3.428,8.108 C3.430,6.894 3.609,5.628 3.611,5.614 L5.521,5.773 L5.519,5.786 C5.501,5.914 5.350,7.072 5.350,8.108 C5.350,9.144 5.501,10.302 5.519,10.430 Z" class="cls-1"/></svg></span>Декор для дома'
														li
															a(href="#")!= '<span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="21" height="14" viewBox="0 0 21 14"><path d="M18.967,0.014 L8.214,0.014 L4.658,0.014 L2.033,0.014 C0.916,0.014 0.001,1.005 0.001,2.228 L0.001,9.574 C0.001,10.805 0.911,11.789 2.033,11.789 L2.710,11.789 L2.710,13.261 C2.710,13.671 3.011,13.997 3.382,13.997 L6.103,13.997 C6.469,13.997 6.774,13.667 6.774,13.261 L6.774,11.789 L14.225,11.789 L14.225,13.261 C14.225,13.671 14.526,13.997 14.896,13.997 L17.618,13.997 C17.984,13.997 18.289,13.667 18.289,13.261 L18.289,11.789 L18.967,11.789 C20.084,11.789 20.999,10.797 20.999,9.574 L20.999,2.228 C20.999,0.997 20.089,0.014 18.967,0.014 ZM10.839,2.385 C11.587,2.385 12.193,3.044 12.193,3.857 C12.193,4.669 11.587,5.329 10.839,5.329 C10.090,5.329 9.484,4.669 9.484,3.857 C9.484,3.044 10.090,2.385 10.839,2.385 ZM5.420,12.525 L4.065,12.525 L4.065,11.789 L5.420,11.789 L5.420,12.525 ZM16.935,12.525 L15.580,12.525 L15.580,11.789 L16.935,11.789 L16.935,12.525 ZM18.957,8.845 L2.043,8.845 C1.663,8.845 1.356,8.516 1.356,8.109 L1.356,8.109 C1.356,7.702 1.621,6.999 2.000,6.999 L19.000,6.999 C19.379,6.999 19.644,7.702 19.644,8.109 L19.644,8.109 C19.644,8.516 19.336,8.845 18.957,8.845 Z" class="cls-1"/></svg></span>Прикроватные тумбы'
														li
															a(href="#")!= '<span style="top: -2px"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="20" height="18" viewBox="0 0 20 18"><path d="M19.166,4.349 L19.166,8.332 L0.833,8.332 L0.833,4.349 C0.326,3.891 -0.000,3.235 -0.000,2.499 C-0.000,1.121 1.121,-0.001 2.500,-0.001 L17.500,-0.001 C18.878,-0.001 20.000,1.121 20.000,2.499 C20.000,3.235 19.674,3.891 19.166,4.349 ZM9.166,7.499 L10.833,7.499 C11.294,7.499 11.666,7.126 11.666,6.666 C11.666,6.206 11.294,5.832 10.833,5.832 L9.166,5.832 C8.706,5.832 8.333,6.206 8.333,6.666 C8.333,7.126 8.706,7.499 9.166,7.499 ZM17.500,1.666 L2.500,1.666 C2.040,1.666 1.666,2.040 1.666,2.499 C1.666,2.958 2.040,3.333 2.500,3.333 L17.500,3.333 C17.960,3.333 18.333,2.958 18.333,2.499 C18.333,2.040 17.960,1.666 17.500,1.666 ZM19.166,14.166 C19.166,14.626 18.794,14.999 18.333,14.999 L15.901,14.999 C16.060,15.753 16.699,16.332 17.500,16.332 C17.961,16.332 18.333,16.706 18.333,17.166 C18.333,17.626 17.961,17.999 17.500,17.999 C15.661,17.999 14.167,16.504 14.167,14.666 L14.167,14.999 L5.833,14.999 L5.833,14.666 C5.833,16.504 4.338,17.999 2.500,17.999 C2.039,17.999 1.666,17.626 1.666,17.166 C1.666,16.706 2.039,16.332 2.500,16.332 C3.301,16.332 3.940,15.753 4.099,14.999 L1.666,14.999 C1.206,14.999 0.833,14.626 0.833,14.166 L0.833,9.999 L19.166,9.999 L19.166,14.166 ZM10.833,10.833 L9.166,10.833 C8.706,10.833 8.333,11.206 8.333,11.665 C8.333,12.126 8.706,12.499 9.166,12.499 L10.833,12.499 C11.294,12.499 11.666,12.126 11.666,11.665 C11.666,11.206 11.294,10.833 10.833,10.833 Z" class="cls-1"/></svg></span>Туалетные столики'
												.col-3
													ul
														li
															a(href="#")!= '<span style="top: -1px"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="21.062" height="17" viewBox="0 0 21.062 17"><path d="M5.062,13.999 L5.062,16.000 L16.062,16.000 L16.062,13.999 L11.062,13.999 L11.062,-0.000 L19.119,-0.000 C20.192,-0.000 21.062,0.875 21.062,1.959 L21.062,13.077 C21.062,13.438 20.419,13.999 20.062,13.999 L17.062,13.999 L17.062,16.000 L20.738,15.692 C20.916,15.692 21.062,15.839 21.062,16.022 L21.062,16.669 C21.062,16.855 20.917,16.999 20.738,16.999 L0.386,16.999 C0.208,16.999 0.062,16.852 0.062,16.669 L0.062,16.022 C0.062,15.837 -0.117,16.000 0.062,16.000 L4.062,16.000 L4.062,13.999 L1.062,13.999 C0.704,13.999 0.062,13.438 0.062,13.077 L0.062,8.000 L9.062,8.000 L9.062,13.999 L5.062,13.999 ZM6.532,9.810 C6.532,9.628 6.386,9.481 6.210,9.481 L4.267,9.481 C4.089,9.481 3.944,9.625 3.944,9.810 L3.944,10.458 C3.944,10.640 4.091,10.788 4.267,10.788 L6.210,10.788 C6.388,10.788 6.532,10.643 6.532,10.458 L6.532,9.810 ZM12.977,5.557 C12.796,5.557 12.650,5.705 12.650,5.883 L12.650,7.847 C12.650,8.027 12.794,8.173 12.977,8.173 L13.618,8.173 C13.798,8.173 13.944,8.024 13.944,7.847 L13.944,5.883 C13.944,5.703 13.801,5.557 13.618,5.557 L12.977,5.557 ZM0.062,1.963 C0.062,0.878 0.931,-0.000 2.005,-0.000 L9.062,-0.000 L9.062,5.999 L0.062,5.999 L0.062,1.963 ZM6.532,2.291 C6.532,2.109 6.386,1.961 6.210,1.961 L4.267,1.961 C4.089,1.961 3.944,2.106 3.944,2.291 L3.944,2.939 C3.944,3.121 4.091,3.269 4.267,3.269 L6.210,3.269 C6.388,3.269 6.532,3.124 6.532,2.939 L6.532,2.291 Z" class="cls-1"/></svg></span>Комоды'
														li
															a(href="#")!= '<span style="top: -2px"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="20" height="17" viewBox="0 0 20 17"><path d="M-0.000,2.499 L-0.000,15.499 C-0.000,15.776 0.224,16.000 0.500,16.000 L1.000,16.000 L1.000,16.500 C1.000,16.775 1.224,17.000 1.500,17.000 C1.776,17.000 2.000,16.775 2.000,16.500 L2.000,16.000 L9.000,16.000 L9.000,-0.000 L2.500,-0.000 C1.122,-0.000 -0.000,1.122 -0.000,2.499 ZM6.000,7.500 C6.000,7.223 6.224,6.999 6.500,6.999 C6.776,6.999 8.000,7.223 8.000,7.500 L8.000,8.500 C8.000,8.775 6.776,9.000 6.500,9.000 C6.224,9.000 6.000,8.775 6.000,8.500 L6.000,7.500 ZM10.000,16.000 L18.000,16.000 L18.000,16.500 C18.000,16.775 18.224,17.000 18.500,17.000 C18.776,17.000 19.000,16.775 19.000,16.500 L19.000,16.000 L19.500,16.000 C19.776,16.000 20.000,15.776 20.000,15.499 L20.000,12.000 L10.000,12.000 L10.000,16.000 ZM17.500,-0.000 L10.000,-0.000 L10.000,5.000 L20.000,5.000 L20.000,2.499 C20.000,1.122 18.878,-0.000 17.500,-0.000 ZM10.000,11.000 L20.000,11.000 L20.000,5.999 L10.000,5.999 L10.000,11.000 Z" class="cls-1"/></svg></span>Шкафы'
												.col-3
													a.top-last-product(href="#")
														img(src="assets/images/content/last-img.jpg", alt="")
														.top-last-product__cat Кровати
														.top-last-product__title Односпальная кровать 126-PS
														.top-last-product__price 5,390 ₽
							li
								a(href="#") Прихожая
							li
								a(href="#") Кухня
							li
								a(href="#") Детская
							li
								a(href="#") Предметы интерьера
					.mainmenu__right
						ul
							li
								a(href="#") Дача и сад
							li
								a(href="#") Гостиницы и Рестораны
							li.mainmenu__right-search
								a(href="#")!= '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="21" height="21" viewBox="0 0 21 21"><path d="M20.539,18.411 L15.346,13.188 C15.661,12.715 15.930,12.207 16.150,11.668 C16.989,9.605 16.992,7.330 16.158,5.264 C15.324,3.199 13.746,1.570 11.714,0.679 L11.710,0.677 C10.669,0.234 9.569,0.009 8.438,0.009 C8.434,0.009 8.429,0.009 8.424,0.009 C6.171,0.011 4.053,0.895 2.461,2.498 C0.868,4.101 -0.008,6.233 -0.006,8.499 C-0.004,11.912 2.017,14.977 5.143,16.307 L5.147,16.309 C6.178,16.733 7.260,16.945 8.342,16.945 C9.447,16.945 10.553,16.723 11.604,16.280 C12.189,16.033 12.737,15.726 13.242,15.365 L18.405,20.557 C18.695,20.849 19.076,20.995 19.457,20.995 C19.838,20.995 20.219,20.849 20.509,20.557 L20.539,20.527 C21.119,19.943 21.119,18.994 20.539,18.411 ZM13.842,8.491 C13.843,11.495 11.413,13.939 8.426,13.939 C8.426,13.939 8.426,13.939 8.426,13.939 C5.439,13.939 3.009,11.496 3.009,8.492 C3.009,5.488 5.439,3.045 8.425,3.045 C8.425,3.045 8.425,3.045 8.426,3.045 C11.412,3.045 13.842,5.488 13.842,8.491 Z" class="cls-1"/></svg>'
							li.mainmenu__right-cart
								a(href="#")!= '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="28.82" height="28.81" viewBox="0 0 28.82 28.81"><path d="M28.295,9.767 C27.840,9.199 27.160,8.869 26.443,8.870 L24.841,8.870 L18.247,0.550 C17.747,-0.081 16.843,-0.177 16.228,0.335 C15.612,0.846 15.517,1.772 16.017,2.404 L21.142,8.870 L7.376,8.870 L12.505,2.404 C13.004,1.772 12.910,0.846 12.295,0.335 C11.679,-0.177 10.775,-0.081 10.275,0.550 L3.677,8.885 L2.399,8.885 C1.078,8.885 0.007,9.982 0.006,11.336 C0.006,11.500 0.022,11.665 0.055,11.826 L2.514,24.499 C3.014,27.010 5.171,28.813 7.672,28.813 L21.166,28.813 C23.678,28.813 25.840,26.994 26.329,24.469 L28.774,11.797 C28.917,11.081 28.742,10.337 28.295,9.767 ZM11.069,21.469 C11.069,22.281 10.427,22.939 9.634,22.939 C8.841,22.939 8.199,22.281 8.199,21.469 L8.199,16.454 C8.199,15.641 8.841,14.984 9.634,14.984 C10.427,14.984 11.069,15.641 11.069,16.454 L11.069,21.469 ZM15.854,21.469 C15.854,22.281 15.211,22.939 14.419,22.939 C13.626,22.939 12.983,22.281 12.983,21.469 L12.983,16.454 C12.983,15.641 13.626,14.984 14.419,14.984 C15.211,14.984 15.854,15.641 15.854,16.454 L15.854,21.469 ZM20.639,21.469 C20.639,22.281 19.997,22.939 19.204,22.939 C18.411,22.939 17.768,22.281 17.768,21.469 L17.768,16.454 C17.768,15.641 18.411,14.984 19.204,14.984 C19.997,14.984 20.639,15.641 20.639,16.454 L20.639,21.469 Z" class="cls-1"/></svg><div class="mainmenu__right-cart-num">0</div>'
	.search
		.search__inner
			.container
				.row
					.col-12
						.search__body
							form(action="")
								.search__input
									input(type="text", placeholder="Поиск мебели", name="search-text")
								.search__sub
									input(type="submit", value="Поиск")
								.search__clear!= '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="16" height="16" viewBox="0 0 16 16"><path d="M9.123,7.998 L15.758,14.635 C16.070,14.947 16.070,15.452 15.758,15.764 C15.602,15.920 15.398,15.997 15.194,15.997 C14.989,15.997 14.785,15.920 14.629,15.764 L7.994,9.127 L1.359,15.764 C1.204,15.920 0.999,15.997 0.795,15.997 C0.591,15.997 0.386,15.920 0.231,15.764 C-0.081,15.452 -0.081,14.947 0.231,14.635 L6.865,7.998 L0.231,1.360 C-0.081,1.049 -0.081,0.543 0.231,0.232 C0.542,-0.081 1.048,-0.081 1.359,0.232 L7.994,6.868 L14.629,0.232 C14.941,-0.081 15.446,-0.081 15.758,0.232 C16.070,0.543 16.070,1.049 15.758,1.360 L9.123,7.998 Z" class="cls-1"/></svg>'