.our-advantages
	.row
		.col-12
			h3.our-advantages__title!= 'Mebeluka.ru — это качественная, экологичная<br>и красивая мебель по доступным ценам'
	ul.our-advantages__list
		.row
			li.col-4.our-advantages__item
				.our-advantages__img
					img(src="assets/images/content/our_advantages1.png")
				.our-advantages__name 10 лет на рынке
			li.col-4.our-advantages__item
				.our-advantages__img
					img(src="assets/images/content/our_advantages2.png")
				.our-advantages__name!= 'Только <br>экологическая мебель'
			li.col-4.our-advantages__item
				.our-advantages__img
					img(src="assets/images/content/our_advantages3.png")
				.our-advantages__name!= 'Любые способы <br>оплаты'
			li.col-4.our-advantages__item
				.our-advantages__img
					img(src="assets/images/content/our_advantages4.png")
				.our-advantages__name Низкая цена
			li.col-4.our-advantages__item
				.our-advantages__img
					img(src="assets/images/content/our_advantages5.png")
				.our-advantages__name Быстрая доставка
			li.col-4.our-advantages__item
				.our-advantages__img
					img(src="assets/images/content/our_advantages6.png")
				.our-advantages__name!= 'Первоклассный <br>сервис'