.purchase-steps.purchase-steps_page-order
	.row
		.col-12
			h2.purchase-steps__title!= 'Для совершения покупки в нашем магазине <br>Вам нужно сделать одно из следующих простых действий:'
		.col-9.col-md-12
			.purchase-steps__steps
				.purchase-steps__item
					h3.purchase-steps__item-title!= 'Позвонить нам по многоканальному телефону (495) 225 99 18 или 8 (800) 775-7318 <br>(бесплатно для регионов) и заказать понравившейся товар'
					.purchase-steps__item-text Вам ответит специалист, который сможет дать консультацию по любому товару из нашего ассортимента.
				.purchase-steps__item
					h3.purchase-steps__item-title Оформить заказ через корзину на сайте
					.purchase-steps__item-text!= 'Наш сотрудник свяжется с Вами в течении короткого времени. В выходные и праздники в течении суток, <br>в будние дни в течении нескольких часов.'
				.purchase-steps__item
					h3.purchase-steps__item-title!= 'Написать нам письмо на адрес <a href="mailto:info@mebeluka.ru">info@mebeluka.ru</a> с указанием желаемого товара, и его количества'
					.purchase-steps__item-text Не забудьте указать ваш телефон для связи.
				.purchase-steps__item
					h3.purchase-steps__item-title Постучаться в icq:393158347 к нашему специалисту
				.purchase-steps__item
					h3.purchase-steps__item-title!= 'Воспользоваться личным или городским транспортом и приехать в наш магазин по адресу: <br><span class="purchase-steps__address">г.Балашиха Носовихинское шоссе вл.4, Т.Ц. Никольский, второй этаж, справа от эскалатора.</span>'
					.purchase-steps__item-text  В магазине на Носовихинском шоссе Вы можете оплатить товар с помощью пластиковых карт: Visa и Master Card.