.store-address.store-address_page-contacts
	.container
		.row
			.col-12
				h2.store-address__title Адрес магазина
				.store-address__content!= '<p><span class="store-address__address">Метро Новокосино. г.Балашиха Носовихинское шоссе вл.4 Т.Ц. Никольский парк</span><br><span class="store-address__floor">третий этаж, с эскалатора налево до конца.</span></p>'
		.store-address__route.row
			.col-7.col-md-12.store-address__map
				#map
				.store-address__printable-map
					img(src="assets/images/content/printable_map.png" alt="Карта")
			.col-5.col-md-12.store-address__route-wrapper
				.store-address__route-description!= '<p>От метро "Новокосино" (~1500м). Первый вагон из центра, после турникетов выход налево.</p><p>От метро "Выхино" (только до 17.00, после 17.00 и маршрутка и автобус меняют свой маршрут). </p><p>Последний вагон из центра. После выхода из вагона, спускаетесь по лестнице в подземный переход и поворачиваете налево, идете до конца по переходу, поднимаетесь на улицу по правой лестнице.</p><p>Выходите на улицу и идете прямо до дороги, слева от вас будет остановка автобуса №706 и маршрутки №706.</p><p>Остановка третья после съезда с Кетчерского моста, или следующая после остановки рядом с Макдональдсом. ТЦ "Никольский",  третий этаж, с эскалатора налево до конца.</p>'
				.store-address__route-description-print
					p.
						От метро "Новокосино" (~1500м). Первый вагон из центра, после турникетов выход налево. От метро "Выхино" (только до 17.00, после 17.00 и маршрутка и автобус меняют свой маршрут). Последний вагон из центра. После выхода из вагона, спускаетесь по лестнице в подземный переход и поворачиваете налево, идете до конца по переходу, поднимаетесь на улицу по правой лестнице. Выходите на улицу и идете прямо до дороги, слева от вас будет остановка автобуса №706 и маршрутки №706. Остановка третья после съезда с Кетчерского моста, или следующая после остановки рядом с Макдональдсом. ТЦ "Никольский", третий этаж, с эскалатора налево до конца.