.goods.goods_suitable-kit
	.container
		.row
			.col-12
				h2.goods__title Подходящий комплект
		.row
			.col-4.col-lg-6.col-md-12.goods__item
				.goods__img
					a(href="#")
						img(src="assets/images/content/beds.png" alt="Лампа Алжир")
				.goods__category Кровати
				h3.goods__name Односпальная кровать 126-PS
				.goods__price 15 000 ₽
			.col-4.col-lg-6.col-md-12.goods__item
				.goods__img
					a(href="#")
						img(src="assets/images/content/mattresses.png" alt="Столик Египет")
				.goods__category Матрасы
				h3.goods__name Матрас USUAL 1
				.goods__price 10 000 ₽
			.col-4.col-lg-12.col-md-12.goods__item.goods__item_buy-kit
				.goods__price 25 000 ₽
				a(href="#").btn-orange.goods__btn-buy Купить комплект