.tabs
	.tabs__wrapper
		.tabs__select
			.tabs__toggle Описание
			ul.tabs__list
				li.tabs__list-item.tabs__list-item_active Описание
				li.tabs__list-item Сборка мебели
				li.tabs__list-item Почему Мебелюка?
				li.tabs__list-item!= 'Отзывы <span class="tabs__reviews-count">(1)</span>'
	.tabs__tabs-container
		.tabs__tab-content!= '<p>Надежная двуспальная кровать Глэдис-РБ – великолепный вариант для спальни в классическом стиле. <br>В зависимости от размеров спального места доступны 5 вариантов модели.</p><p>Изделие произведено в Малайзии из экологичных материалов. Опоры кровати выполнены из массива гевеи, цветовое исполнение – «темный орех». Металлические изголовье и изножье оформлены коваными вертикальными прутьями и фигурными завитками.</p><p>Кровать комплектуется деревянным реечным дном, служащим ортопедическим основанием кровати. Матрас приобретается отдельно.</p>'
		.tabs__tab-content!= '<p>Надежная двуспальная кровать Глэдис-РБ – великолепный вариант для спальни в классическом стиле. <br>В зависимости от размеров спального места доступны 5 вариантов модели.</p><p>Изделие произведено в Малайзии из экологичных материалов. Опоры кровати выполнены из массива гевеи, цветовое исполнение – «темный орех». Металлические изголовье и изножье оформлены коваными вертикальными прутьями и фигурными завитками.</p>'
		.tabs__tab-content.tabs__tab-content_advantages
			include our-advantages
		.tabs__tab-content.tabs__tab-content_reviews
			.tabs__write-review
				a(href="#popup-write-review").btn-ghost-orange.open-popup-link Написать отзыв
			.tabs__reviews-list
				include ../components/review