.page-404
	min-height: calc(100% - 140px)
	position: relative
	max-width: 100%
	overflow: hidden
	margin-bottom: 0px
	&:before
		content: ''
		position: absolute
		bottom: 0px
		left: 0px
		display: block
		width: 776px
		height: 307px
		background: url('../images/content/404-bg-1.jpg') no-repeat
	&:after
		content: ''
		position: absolute
		top: 0px
		right: 60px
		display: block
		width: 279px
		height: 485px
		background: url('../images/content/404-bg-2.jpg') no-repeat
.error-404
	text-align: center
	margin-top: 80px
	position: relative
	z-index: 10
	h2
		font-size: 48px
		color: $black
	span
		font-size: 16px
		color: $color-2
		display: block
		padding: 52px 0 30px
	a
		display: block
		box-sizing: border-box
		height: 50px
		width: 162px
		color: $white
		line-height: 50px
		border-radius: 5px
		font-size: 16px
		padding: 0 15px
		background: $color-1
		text-align: center
		font-weight: 500
		cursor: pointer
		border: 0px
		margin: 0 auto
		&:hover
			background: $color-hover