// Annals
.annals
	&__title
		margin-bottom: 11px
	
	&__author
		margin-bottom: 32px
		font-size: 20px
		line-height: 24px
	
	&__item
		margin-bottom: 15px
		
		+maxw(768px)
			margin-bottom: 25px
	
	&__item-year
		+box-sizing(border-box)
		width: 91px
		padding: 10px 0
		+border-radius(5px)
		color: $color-1
		background: #F5F5F5
		font-size: 20px
		line-height: 32px
		text-align: center
		
		+maxw(480px)
			float: none
			margin-bottom: 15px
	
	&__item-content
		margin-right: 110px
		margin-left: 110px
		
		+maxw(992px)
			margin-right: 0
		
		+maxw(480px)
			margin-left: 0
	
	&__item-title
		margin-top: 14px
		margin-bottom: 10px
		padding-left: 10px
		font-size: 16px
		
		+maxw(768px)
			margin-top: 0
	
	&__item-text
		padding-left: 9px
		color: $color-2
		
		&, p
			font-size: 14px
			line-height: 20px
		
		p
			margin-bottom: 21px
			
			&:last-child
				margin-bottom: 0