.info-content
	&__text
		max-width: 1050px
		p
			line-height: 24px
			color: $color-2
			font-size: 16px
			margin-bottom: 24px
			&:last-child
				margin-bottom: 0px
	h3
		font-size: 26px
		color: $black
		padding-top: 45px
		padding-bottom: 25px
	&__block
		background: #f5f5f5
		padding: 40px
		margin-bottom: 70px
		
		+maxw(820px)
			padding: 30px
		
		+maxw(480px)
			padding: 20px
			
		&--no-m
			margin-bottom: 0px
		&:after
			content: ''
			display: block
			clear: both
		strong
			font-size: 16px
			color: $color-2
			line-height: 24px
	&__block-item
		float: left
		width: 530px
		max-width: 50%
		+box-sizing(border-box)

		+maxw(768px)
			float: none
			width: auto
			max-width: 100%
			
		&--first
			padding-right: 75px
			border-right: 1px solid #d1d1d1
			
			+maxw(992px)
				padding-right: 50px
			
			+maxw(820px)
				padding-right: 30px
			
			+maxw(768px)
				padding-right: 0
				margin-bottom: 35px
				border-right: none
				
		&--second
			padding-left: 80px
			
			+maxw(992px)
				padding-left: 50px
			
			+maxw(820px)
				padding-left: 30px
			
			+maxw(768px)
				padding-left: 0
				
	&__block-title
		padding-top: 25px
		strong
			font-size: 20px
			color: $black
			padding-right: 28px
			
			+maxw(375px)
				padding-right: 0
				
		span
			font-size: 26px
			color: $color-1
			
			+maxw(375px)
				display: block
				margin-top: 8px

	&__block-desk
		padding-top: 20px
		font-size: 16px
		line-height: 24px
		color: $color-2
		
		+maxw(480px)
			padding-top: 15px
			
	&__block-list
		margin-top: 40px
		ul
			li
				display: block
				width: 33.33%
				float: left
				font-size: 16px
				color: $black
				line-height: 24px
				padding-right: 60px
				padding-left: 22px
				position: relative
				box-sizing: border-box
				
				+maxw(992px)
					width: 50%
					min-height: 75px
					padding-right: 30px
				
				+maxw(768px)
					padding-right: 20px
				
				+maxw(670px)
					float: none
					width: 100%
					min-height: 0
					margin-bottom: 25px
					padding-right: 0
					
				&:before
					content: ''
					position: absolute
					top: 7px
					left: 0px
					display: block
					width: 5px
					height: 5px
					border-radius: 50%
					background: $color-2
				&.info-content__block-li--first
					width: 30%
					
					+maxw(768px)
						float: left
						width: 40%
						padding-right: 20px
					
					+maxw(480px)
						float: none
						padding-right: 0
						width: auto
						margin-bottom: 10px
						
				&.info-content__block-li--second
					width: 55%
					
					+maxw(768px)
						width: 60%
						float: left
					
					+maxw(480px)
						float: none
						padding-right: 0
						width: auto
		
		+maxw(480px)
			margin-top: 20px
						
	&__block-company
		margin-top: 25px
		display: flex
		flex-wrap: wrap
		flex-direction: row
		justify-content: space-between
		align-items: flex-end
		align-content: center
		text-align: center
		img
			display: inline-block
		span
			display: block
			margin-top: 22px
			font-size: 20px
			color: $black
		
		+maxw(992px)
			-webkit-align-items: flex-start
			align-items: flex-start
	
	&__block-company-item
		&:nth-child(-n+3)
			+maxw(992px)
				width: 33%
				margin-bottom: 35px
				
			+maxw(620px)
				width: 50%
			
			+maxw(480px)
				width: 100%
		
		&:nth-child(n+4)
			+maxw(992px)
				width: 50%
			
			+maxw(480px)
				width: 100%
				margin-bottom: 35px
		
		&:last-child
			+maxw(620px)
				width: 100%
				margin-top: 20px
			
			+maxw(480px)
				margin-top: 0
				
.privilege
	margin-top: 10px
	display: flex
	flex-wrap: wrap
	flex-direction: row
	justify-content: space-around
	align-items: flex-end
	align-content: center
	text-align: center
	&:after
		content: ''
		display: block
		clear: both
	&__item
		width: 25%
		text-align: center
		img
			display: inline-block
		strong
			font-size: 20px
			color: $black
			display: block
			padding: 25px 0
		span
			font-size: 26px
			color: $color-1
			display: block
		
		+maxw(768px)
			width: 50%
			margin-bottom: 50px
		
		+maxw(480px)
			width: 100%
		
		&:last-child
			+maxw(480px)
				margin-bottom: 10px