.fav
	position: fixed
	top: 50%
	right: 0
	margin-top: -160px
	z-index: 25
	+transition(0.3s ease-in-out)
	transform: translateX(100%)
	&--active
		transform: translateX(0)
		.fav__button
			background: $black !important
	&__button
		position: absolute
		left: -80px
		width: 80px
		height: 52px
		line-height: 55px
		color: $white
		font-size: 16px
		text-align: center
		border-top-left-radius: 5px
		border-bottom-left-radius: 5px
		background: $color-2
		@extend .transition
		cursor: pointer
		&:hover
			background: $black
		img
			display: inline-block
			margin-right: 8px
			position: relative
			top: 3px

	&__content
		width: 685px
		background: $white
		padding: 30px 0
		box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.2)
	&__title
		font-size: 20px
		color: $black
		margin-bottom: 35px
		margin-left: 28px
	&__item
		margin-bottom: 20px
		font-size: 0
		&:last-child
			margin-bottom: 0px
	&__item-del, &__item-img, &__item-desk, &__item-buy
		@extend .inline-block
	&__item-del
		width: 6.5%
		text-align: center
		position: relative
		top: 45px
		a
			svg
				fill: $color-2
				@extend .transition
			&:hover
				svg
					fill: $color-1
	&__item-img
		width: 22%
		img
			max-width: 100%
	&__item-desk
		width: 42.5%
		padding-left: 20px
		font-size: 14px
		box-sizing: border-box
		span
			color: $color-2
			display: block
		a
			display: inline-block
			color: $black
			margin-top: 12px
		strong
			display: block
			font-size: 26px
			color: $black
			margin-top: 16px
	&__item-buy
		width: 29%
		position: relative
		top: 25px
		button
			height: 50px
			border: 1px solid $color-1
			background: transparent
			line-height: 48px
			border-radius: 5px
			padding: 0 38px
			font-size: 16px
			color: $color-1
			font-weight: 500
			cursor: pointer
			box-sizing: border-box
			display: block
			@extend .transition
			&:hover
				background: $color-1
				color: $white