// Mobile menu
.mobile-menu-wrapper
	display: none
	background: $white

.mobile-menu
	&__link
		display: block
		padding-left: 19px
		line-height: 47px
	
	&__submenu
		display: none
	
	&__submenu-link
		display: block
		padding-left: 36px
		line-height: 47px
		
	&_mainmenu
		position: relative
		border-top: 1px solid $border-1
		
		.mobile-menu__item:last-child .mobile-menu__link
			padding-bottom: 14px
			-webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.18)
			box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.18)
		
		.mobile-menu__link
			position: relative
			border-bottom: 1px solid #cecece
			color: #000
			
			&:after
				content: ""
				position: absolute
				top: 0
				right: 20px
				bottom: 0
				width: 5px
				height: 10px
				margin: auto
				background: url('../images/icons/mobile_menu_arrow_right.png') 0 0 no-repeat
		
		.mobile-menu__submenu-item:last-child
			.mobile-menu__submenu-link
				border-bottom-color: #cecece
		
		.mobile-menu__submenu-link
			border-bottom: 1px solid #dcdcdc
			background: #F5F5F5
			color: #000
	
	&_secondary-menu
		.mobile-menu__item:first-child .mobile-menu__link
			padding-top: 14px
		
		.mobile-menu__item:last-child .mobile-menu__link
			padding-bottom: 28px
			
		.mobile-menu__link
			background: $color-1
			color: $white