// Product photo
.product-photo#ninja-slider
	width: 84.8%
	background: transparent
	
	+maxw(600px)
		width: 100%
	
	ul
		height: 440px !important
		
		+maxw(600px)
			height: auto !important
			padding-top: 72% !important
	
	.ns-img
		background: transparent
		-webkit-box-shadow: none
		box-shadow: none
		
		+maxw(992px)
			+background-size(100% 100%)
	
	#ninja-slider-next, #ninja-slider-prev
		width: 28px
		height: 48px
		background: $white
		opacity: 0.4
		
		&:hover
			opacity: 1
		
		&:before
			display: none
		
		&:after
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			width: 6px
			height: 10px
			margin: auto
		
		+minw(601px)
			display: none
	
	#ninja-slider-prev:after
		background: url('../images/icons/arrow_prev.png') 0 0 no-repeat
	
	#ninja-slider-next:after
		background: url('../images/icons/arrow_next.png') 0 0 no-repeat