// Product delivery
.product-delivery
	padding: 7px 0 0
	color: #252525
	
	a
		position: relative
		color: #000
		
		&:after
			@extend .transition
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 1px
			background: #000
			opacity: 1
		
		&:hover:after
			opacity: 0
	
	&__title
		margin-bottom: 22px
		
		+maxw(480px)
			margin-bottom: 18px
			font-size: 24px
	
	&__list-item
		position: relative
		margin-bottom: 20px
		padding-left: 23px
		line-height: 22px
		
		&:before
			content: ""
			position: absolute
			top: 9px
			left: 0
			width: 5px
			height: 5px
			+border-radius(50%)
			background: $color-2
		
		+maxw(480px)
			margin-bottom: 15px
			font-size: 14px