// Product
.product
	+maxw(1240px)
		padding-top: 27px
	
	+maxw(480px)
		padding-top: 22px
		
	&__title
		font-size: 26px
	
	&__photos-and-description
		margin-bottom: 48px
		
		+maxw(992px)
			margin-bottom: 26px
	
	&__photos, &__tabs
		width: 57.0315%
		
		+maxw(992px)
			float: none
			width: auto
	
	&__photos
		overflow: hidden
		
		+maxw(992px)
			margin-bottom: 31px
		
		+maxw(600px)
			margin: 0 -20px
	
	&__photo-print
		display: none
	
	&__description-wrapper
		width: 42.9685%
		
		+maxw(992px)
			float: none
			width: auto
			margin-right: -20px
			margin-left: -20px
	
	&__tabs-and-delivery
		margin-bottom: 186px
		
		+maxw(1240px)
			margin-bottom: 90px
		
		+maxw(992px)
			margin-bottom: 70px
		
		+maxw(768px)
			margin-bottom: 50px
		
		+maxw(480px)
			margin-bottom: 40px
	
	&__tabs, &__product-delivery
		+maxw(420px)
			margin-right: -5px
			margin-left: -5px
	
	&__tabs
		margin-bottom: 22px
	
	&__product-delivery
		padding-left: 40px
	
		+maxw(992px)
			padding-left: 0

.tabs__tab-content, .tabs__tab-content p
	font-family: $default-f !important

.prd-options
	padding: 0 20px
	label.control-label
		width: 37.6%
		display: inline-block
		font-size: 14px
		color: #212121
	#input-quantity
		display: none

.btn-orange
	outline: none

.text-danger
	display: inline-block
	font-size: 13px
	color: #e25555
	border-radius: 3px
	padding-top: 5px

.cart-bb
	display: inline-block
	background: $color-1
	color: $white
	padding: 5px 5px
	margin: 7px 2px 0px 3px
	border: 0px
	border-radius: 3px
	outline: none
	cursor: pointer
	&:hover
		background: $color-2

.write-review__hidden
	display: none

.table
	&--product
		table
			thead
				tr
					td
						font-size: 16px
			tbody
				tr
					td
						font-size: 14px
						&:first-child
							width: 65% !important

// stars rating
.star-rating
	font-size: 0
.star-rating__wrap
	display: inline-block
	font-size: 1rem
.star-rating__wrap:after
	content: ""
	display: table
	clear: both
.star-rating__ico
	float: right
	padding-left: 2px
	cursor: pointer
	color: #fcc02d
	font-size: 26px
	padding-right: 6px
.star-rating__ico:last-child
	padding-left: 0
.star-rating__input
	display: none
.star-rating__ico:hover:before, .star-rating__ico:hover ~ .star-rating__ico:before, .star-rating__input:checked ~ .star-rating__ico:before
	content: "\f005"
	color: #fcc02d

.review
	margin-bottom: 40px

.review__rating
	span
		height: 22px
		width: 28px
		i
			font-size: 25px
			color: #fcc02d