// Rating
.rating
	font-size: 0
	
	&__item
		display: inline-block
		width: 20px
		height: 20px
		background: url('../images/icons/icon_star_rating.png') 0 0 no-repeat
		font-size: 16px
		cursor: pointer
		
		&:not(:last-child)
			margin-right: 10px
		
		&_fill, &:hover
			background-image: url("../images/icons/star-active.svg")