// Requisites
.requisites
	max-width: 510px
	padding: 39px 40px 31px
	+box-sizing(border-box)
	background: #F5F5F5
	
	+maxw(768px)
		padding: 30px
	
	+maxw(480px)
		padding: 20px
	
	&__title
		margin-bottom: 18px
	
	&__list
		text-indent: -2px
	
	&__item
		font-size: 14px
		line-height: 28px