@media screen and (max-width: 1450px)
	// home
	.preview
		background-position: 250%

@media screen and (max-width: 1240px)
	// title
	.title
		padding-left: 0px
		+transition(0.3s ease-in-out)
		h1
			font-size: 38px
			padding-top: 38px
			line-height: 34px
			display: inline-block
			vertical-align: top
			span
				display: inline-block
		&__back
			display: inline-block
			vertical-align: top
			margin-top: 33px
			margin-right: 10px
		&--filters
			padding-left: 100px
			.title__catalog
				opacity: 0
	// 404
	.page-404
		width: 100%
	// catalog
	.title__catalog
		display: inline-block
	.filters-bottom
		display: none
	.filters
		position: fixed
		z-index: 15
		top: 0px
		left: 0px
		z-index: 40
		width: 240px
		background: $white
		height: 100%
		box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.18)
		padding-top: 60px
		margin-left: -240px
		+transition(0.3s ease-in-out)
		overflow-y: auto
		&--mob-active
			margin-left: 0px
		&__cat
			a
				svg
					position: relative
					left: auto
					top: 5px
					float: right
					transform: rotate(-90deg)
		&__item
			float: none
			width: 100%
			border: 0px
			border-bottom: 1px solid #e5e5e5
			padding: 0 20px
			box-sizing: border-box
			&--price
				padding: 18px 20px
				strong
					display: block
					padding-bottom: 5px
					padding-top: 0px
			&--active-cat
				padding: 18px 20px
				.cat-drop__inner
					margin-top: 18px
			&--clear
				border-bottom: 0px
				margin-top: 15px
		&__price-block
			label
				font-size: 12px
				padding-top: 29px
				padding-bottom: 0px
			input[type=number]
				font-size: 12px
				max-width: 68px
			&:last-child
				padding-left: 8px
		.mfilter-content > ul li
			float: none
			width: 100%
			border: 0px
			border-bottom: 1px solid #e5e5e5
			padding: 20px
			box-sizing: border-box
			height: auto
			&:after
				content: ''
				display: block
				clear: both
			&.mfilter-price
				.mfilter-heading
					line-height: inherit
					height: auto
					padding: 0px
					margin-bottom: 5px
				.mfilter-content-opts
					padding-right: 0px
					.mfilter-price-inputs
						input[type=text]
							font-size: 12px
							max-width: 68px
							margin-top: 15px
						label
							font-size: 12px
							padding: 0px
							padding-right: 5px
							padding-top: 29px
							&.price-lbl-second
								padding-left: 5px
			&.mfilter-manufacturers, &.mfilter-attribute, &.mfilter-options
				padding: 0px 20px
				.mfilter-heading
					line-height: inherit
					height: auto
					padding: 18px 0
					width: 100%
					float: none
					&:after
						top: 25px
				.mfilter-content-opts
					position: static
					left: 0
					top: 0
					display: block
					margin-left: 0px
					width: auto
					background: $white
					box-shadow: inherit
					padding-bottom: 20px
					padding-left: 2px
					.mfilter-opts-container
						padding: 0px
						&:after
							display: none

		.container
			min-width: 240px
		.col-12
			padding: 0px
		&__mob-title
			display: block
			font-size: 16px
			color: $black
			padding: 24px 20px 23px 20px
			border-bottom: 1px solid #e5e5e5
			svg
				float: right
				fill: $color-2
	.filters__cat
		a
			padding: 18px 0px
	.cat-drop
		position: static
		left: 0
		top: 0
		display: block
		margin-left: 0px
		width: auto
		background: $white
		box-shadow: inherit
		padding-bottom: 20px
		padding-left: 2px
		&__inner
			padding: 0px
			&:after
				display: none
		&__sub
			display: none
	.filters-mob
		display: block
		padding-top: 25px
		&__tags
			a
				color: $black
				font-size: 12px
				margin-right: 20px
				display: inline-block
				margin-bottom: 10px
				svg
					margin-left: 7px
					position: relative
					top: 1px
					fill: $color-2
					&:hover
						fill: $color-1
	.catalog-mobile-sort
		display: inline-block
		float: right
		margin-top: 53px
		font-size: 14px
		color: $black
		position: relative
		&__drop
			position: absolute
			top: 13px
			right: 0px
			width: auto
			padding: 15px 21px
			background: #fff
			text-align: right
			background: $white
			z-index: 10
			box-shadow: 0 3px 4px 0 rgba(0,0,0,.18)
			visibility: hidden
			opacity: 0
			+transition(0.2s ease-in-out)
			a
				display: block
				color: $black
				font-size: 14px
				margin-bottom: 10px
				&:last-child
					margin-bottom: 0px
				&:hover
					color: $color-1
		span
			margin-left: 7px
			cursor: pointer
			position: relative
			padding-right: 20px
			text-decoration: underline
			z-index: 15
			display: inline-block
			&:after
				content: ''
				position: absolute
				top: 5px
				right: 2px
				width: 10px
				height: 5px
				display: block
				background: url('../images/sort-arrow-icon.svg') no-repeat
			&:hover
				.catalog-mobile-sort__drop
					visibility: visible
					opacity: 1
	// main
	.oc-page
		padding-top: 38px
	.reg-section
		h1
			font-size: 36px
	// header
	.user-drop__inner:before
		right: 5px

@media screen and (max-width: 1200px)
	// home
	.preview
		background-position: center center
		background-size: cover
		&__text
			height: 300px
			justify-content: center
			h1
				font-size: 38px
				line-height: 46px
				margin-top: -20px
				background: $white
				padding: 10px 15px
				background: rgba(255, 255, 255, 0.69)
	.about
		&__text
			font-size: 18px
@media screen and (max-width: 1024px)
	// home
	.home-cats-top
		&__item
			height: 185px
			img
				height: 130px
		&__title
			font-size: 18px
	.home-cats
		.col-8, .col-4
			width: 50%
		&__title
			b
				font-size: 36px
				line-height: 42px
			span
				font-size: 18px
	.about
		.col-2
			width: 33.33%
			height: 200px
		h2
			font-size: 30px
			line-height: 40px
			margin-top: 30px
	// user
	.user
		&__history-cont
			font-size: 15px
			a
				font-size: 20px
				line-height: 26px
			span
				padding-right: 20px
				box-sizing: border-box
				&:nth-child(3)
					width: 11.5%
		&__history-names
			span
				&:nth-child(3)
					width: 11.5%
	// catalog
	.shop-items
		&__body
			.col-3
				width: 33.33%
	// cart
	.cart
		.col-5, .col-7
			width: 100%
	.cart-products
		&__item-content
			width: 100%
		&__item-img
			display: none
	// 404
	.page-404:after
		right: -40px

@media screen and (max-width: 980px)
	// cart
	.product-table
		&__item
			width: 50% !important
			height: 150px
			&:nth-child(1)
				a
					font-size: 20px
					line-height: 26px

@media screen and (max-width: 992px)
	.prd-options
		margin-top: 10px

@media screen and (max-width: 820px)
	// catalog
	.shop-items
		&__body
			.col-3
				width: 50%
	.fav
		display: none


@media screen and (max-width: 768px)
	// home
	.preview
		&__text
			h1
				font-size: 34px
				line-height: 42px
	.home-cats-top
		&__item
			width: 100%
			border: 1px solid #bdbdbd
			border-bottom: 0px
			&:last-child
				border-bottom: 1px solid #bdbdbd
	.home-cats
		.col-8, .col-4
			width: 100%
		&__item
			height: 400px
			margin-bottom: 30px
			&--last
				margin-bottom: 30px
	.block-title
		h3
			font-size: 24px
			padding: 70px 0 40px 0
		&--instagram
			margin-top: -30px
			h3
				padding-left: 36px
				&:before
					top: 68px
	.about
		.col-2
			width: 50%
	// user
	.user
		&__history-img
			display: none
		&__history-cont, &__history-names
			width: 100%
		&__history-cont
			a
				font-size: 18px
				line-height: 24px
	// 404
	.page-404:after
		display: none
	// catalog
	.catalog-mobile-sort
		display: none
	.filters-bottom
		display: block
	.filters-bottom__result
		display: none
	.filters-bottom__sort
		font-size: 12px
		line-height: 18px
		a
			margin-left: 0px
			margin-right: 18px
		span
			margin-right: 18px
	// checkout
	.panel-body
		select
			width: 100%
	.table-result
		thead
			td
				display: none
		tbody
			td
				display: block
				box-sizing: border-box
				width: 100%
				padding: 8px
				&.text-right
					text-align: left
				&:nth-child(3), &:nth-child(4)
					display: none
	.u-checkout
		.col-sm-6
			width: 100%
			float: none
			&:nth-child(2)
				margin-top: 40px
@media screen and (max-width: 640px)
	// user
	.user
		&__form-body
			padding: 30px 20px
		&__nav-item
			width: 100%
			box-sizing: border-box
		&__nav-exit
			top: -180px
		&__form-text
			width: 100%
			text-align: left
			padding-left: 4px
			height: auto
			padding-bottom: 10px
			padding-top: 0px
		&__form-input
			width: 100%
		&__history-cont
			padding: 20px
			span
				width: 100% !important
				padding: 8px
				&:nth-child(3)
					display: none
				&:nth-child(2)
					color: $color-1
					font-size: 20px
		&__history-names
			display: none
	// catalog
	.shop-items
		&__body
			max-width: 440px
			margin: 0 auto
			padding: 0 20px
			.col-3
				width: 100%
				min-height: 410px
	// cart
	.cart-total
		font-size: 20px
	.cart-contacts
		padding: 25px
		&__list-item
			width: 100% !important
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0px
		&__title
			font-size: 20px

@media screen and (max-width: 520px)
	// cart
	.product-table
		padding: 10px
		&__item
			width: 100% !important
			height: auto
			margin-bottom: 20px
			span
				min-height: auto !important
				padding: 10px 15px !important
				border-bottom: 0px !important
	// catalog
	.filters
		padding-top: 100px
	.title--filters
		padding-left: 0px !important
	// user section
	.reg-section
		.form-group
			.col-sm-2, .col-sm-10
				width: 100%
				text-align: left
				float: none
				select
					width: 100%
			.col-sm-2
				padding-left: 3px
				display: block
				margin-bottom: 5px
		.buttons
			width: 100%
			float: none
	// checkout
	.table-result
		tfoot
			td
				display: block
				width: 100%
				box-sizing: border-box
				padding: 8px
@media screen and (max-width: 480px)
	// home
	.preview
		&__text
			h1
				font-size: 30px
				line-height: 38px
	.block-title
		h3
			font-size: 22px
			line-height: 28px
			padding: 50px 0 30px 0
		&--instagram
			margin-top: -30px
			h3
				padding-left: 36px
				&:before
					top: 50px
	.home-cats
		&__item
			height: 350px
		&__title
			b
				font-size: 30px
				line-height: 36px
			span
				font-size: 16px
		&__button
			font-size: 14px
	.about
		.col-2
			width: 100%
			height: auto
			margin-bottom: 30px
			&:last-child
				margin-bottom: 50px
		h2
			font-size: 26px
			line-height: 34px
	// user
	.user
		&__nav-exit
			top: 0px
			float: left
			margin-left: 28px
			margin-bottom: 20px
			margin-top: 25px
	// title
	.title
		h1
			font-size: 24px
	// catalog
	.shop-items
		&__body
			.col-3
				min-height: 400px
	.title__catalog
		display: none
	.title--catalog
		text-align: center
		h1
			font-size: 24px
			padding-top: 25px
			span
				font-size: 12px
	.fil-mob-buttons
		display: block
		padding-top: 20px
		a
			display: inline-block
			vertical-align: top
			width: 50%
			padding: 15px 0
			background: #f5f5f5
			text-align: center
			box-sizing: border-box
			color: $black
			font-size: 14px
			&:first-child
				border-right: 1px solid $white
	.filters
		max-width: 100%
		width: 100%
		margin-left: -100%
		&--mob-active
			margin-left: 0px
	.filters-bottom
		display: none
	.fil-mob-sort
		display: block
		position: fixed
		top: 0px
		left: 0px
		background: $white
		width: 100%
		height: 100%
		z-index: 40
		margin-left: -100%
		padding-top: 100px
		+transition(0.3s ease-in-out)
		&--active
			margin-left: 0px
		.col-12
			padding: 0px
		&__title
			display: block
			font-size: 16px
			color: $black
			padding: 24px 20px 23px 20px
			border-bottom: 1px solid #e5e5e5
			svg
				float: right
				fill: $color-2
		&__body
			a
				display: block
				font-size: 14px
				color: $black
				padding: 18px 20px
				border-bottom: 1px solid #e5e5e5
				&.current
					background: $color-2
					color: $white
	// cart
	.cart-total
		font-size: 20px
		&__item
			&:first-child
				width: 100%
				margin-bottom: 20px
	.cart-contacts
		padding: 20px

@media screen and (max-width: 460px)
	// catalog
	.shop-items
		&__body
			.col-3
				min-height: 385px
	.buttons
		.btn-primary
			padding: 12px 20px 16px 21px
@media screen and (max-width: 440px)
	// catalog
	.shop-items
		&__body
			.col-3
				min-height: 375px

@media screen and (max-width: 420px)
	// catalog
	.shop-items
		&__body
			.col-3
				min-height: 360px

@media screen and (max-width: 380px)
	// catalog
	.shop-items
		&__body
			.col-3
				min-height: 330px

@media screen and (max-width: 360px)
	// catalog
	.shop-items
		&__body
			.col-3
				min-height: 320px

@media screen and (max-width: 340px)
	// catalog
	.shop-items
		&__body
			.col-3
				min-height: 310px