.search
	position: absolute
	top: 60px
	left: 0px
	width: 100%
	overflow: hidden
	padding-bottom: 25px
	z-index: 10
	opacity: 0
	visibility: hidden
	+transition(0.3s ease-in-out)
	
	+minmaxw(571px, 1240px)
		top: 0
	
	+maxw(570px)
		top: 40px
		
	&--active
		visibility: visible
		opacity: 1
	&__inner
		background: $white
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15)
	&__input
		padding: 25px 0
		input[type=text]
			height: 50px
			border: 0px
			font-size: 26px
			color: $black
			width: 80%
			box-sizing: border-box
			font-weight: 400
			outline: none
			
			+maxw(1080px)
				width: 75%
			
			+maxw(890px)
				width: 70%
			
			+maxw(768px)
				height: 44px
				font-size: 22px
			
			+maxw(740px)
				width: 65%
			
			+maxw(650px)
				width: 60%
				height: 36px
				font-size: 18px
			
			+maxw(550px)
				width: 53%
			
			+maxw(480px)
				width: 45%
			
			+maxw(480px)
				width: 35%
			
			+maxw(360px)
				width: 27%
		
		+maxw(768px)
			padding: 15px 0
			
	&__body
		position: relative
	&__sub
		display: block
		position: absolute
		// top: 25px
		top: 0
		right: 0
		bottom: 0
		height: 50px
		margin: auto
		visibility: hidden
		opacity: 0
		+transition(0.2s ease-in-out)
		input[type=submit], button
			height: 50px
			border: 1px solid $color-1
			background: transparent
			line-height: 49px
			border-radius: 5px
			padding: 0 45px
			font-size: 16px
			color: $color-1
			font-weight: 500
			cursor: pointer
			box-sizing: border-box
			outline: none
			&:hover
				background: $color-1
				color: $white
		&--active
			visibility: visible
			opacity: 1
			+transition(0.6s ease-in-out)
	&__clear
		display: block
		width: 16px
		height: 16px
		position: absolute
		// top: 42px
		top: 0
		right: 83px
		bottom: 0
		margin: auto
		cursor: pointer
		+transition(0.3s ease-in-out)
		svg
			fill: $color-2
		&:hover
			svg
				fill: $black
		&--active
			right: 180px
			transition-delay: 0s