.user
	&__nav
		border-bottom: 1px solid #dedede
	&__nav-item
		display: block
		float: left
		padding: 12px 29px
		color: $black
		font-size: 14px
		@extend .transition
		&--current
			background: #f5f5f5
		&:hover
			background: #f5f5f5
	&__nav-exit
		display: block
		float: right
		color: $color-2
		font-size: 14px
		padding: 5px 0 5px 30px
		position: relative
		top: -66px
		&:before
			content: ''
			position: absolute
			top: 0px
			left: 0px
			background: url('../images/close-icon-2.svg') no-repeat
			width: 20px
			height: 20px
	&__form
		margin-top: 50px
	&__form-body
		max-width: 620px
		box-sizing: border-box
		padding: 50px 35px 50px 20px
		margin: 0 auto
		background: #f5f5f5
	&__form-group
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0px
		&:after
			content: ''
			display: block
			clear: both
	&__form-text
		float: left
		height: 50px
		box-sizing: border-box
		width: 28%
		font-size: 14px
		color: $color-2
		text-align: right
		padding-top: 18px
	&__form-input
		float: right
		width: 68%
		input[type=tel], input[type=text], input[type=email], input[type=password]
			box-sizing: border-box
			height: 50px
			width: 100%
			color: $color-2
			line-height: 50px
			border: 1px solid $border-1
			border-radius: 5px
			font-size: 14px
			padding: 0 15px
			background: $white
			box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
			&:focus
				border-color: #c5c5c5
		input[type=submit]
			box-sizing: border-box
			height: 50px
			width: 100%
			max-width: 220px
			color: $white
			line-height: 48px
			border-radius: 5px
			font-size: 16px
			padding: 0 15px
			background: $color-1
			text-align: center
			font-weight: 500
			cursor: pointer
			border: 0px
			&:hover
				background: $color-hover
	&__history
		margin-top: 50px
	&__history-names
		float: right
		width: 85%
		margin-bottom: 25px
		color: $black
		font-size: 14px
		box-sizing: border-box
		padding: 0 35px
		span
			display: block
			float: left
			&:nth-child(1)
				width: 62%
			&:nth-child(2)
				width: 15.5%
			&:nth-child(3)
				width: 14.5%
			&:nth-child(4)
				width: 8%
	&__history-item
		display: block
		margin-bottom: 30px
		&:after
			content: ''
			display: block
			clear: both
		&:last-child
			margin-bottom: 0px
	&__history-img
		float: left
		width: 14%
	&__history-cont
		float: right
		width: 85%
		padding: 59px 35px
		box-sizing: border-box
		background: #f5f5f5
		font-size: 16px
		color: $black
		display: flex
		flex-wrap: wrap
		flex-direction: row
		align-items: center
		a
			font-size: 26px
			color: $black
			&:hover
				color: $color-1
		span
			display: block
			float: left
			&:nth-child(1)
				width: 62%
			&:nth-child(2)
				width: 15.5%
			&:nth-child(3)
				width: 14.5%
			&:nth-child(4)
				width: 8%
	&__forgot
		margin-top: 25px
		a
			font-size: 14px
			color: $color-2
			&:hover
				color: $color-1
.user-drop
	position: absolute
	right: 0px
	top: 62px
	background: $white
	border-radius: 5px
	box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.25)
	display: none
	z-index: 40
	width: 180px		
	&__inner
		padding: 20px
		position: relative
		&:before
			content: ''
			position: absolute
			top: -4px
			right: 30px
			width: 20px
			height: 20px
			background: $white
			transform: rotate(45deg)
		ul
			li
				display: block
				margin-bottom: 12px
				&:last-child
					margin-bottom: 0px

.login-section
	&__block
		padding: 30px
		background: #f5f5f5
		border-radius: 5px
		margin-bottom: 20px
		h2
			margin-bottom: 20px
		p
			font-size: 15px
			line-height: 23px
	&__btn
		display: inline-block
		box-sizing: border-box
		height: 50px
		color: $white
		line-height: 50px
		border-radius: 5px
		font-size: 16px
		padding: 0 15px
		background: $color-1
		text-align: center
		font-weight: 500
		cursor: pointer
		border: 0px
		&:hover
			color: $white
			background: $color-hover
	.user
		max-width: 460px
		margin-top: 30px

.reg-section
	position: relative
	margin-bottom: 40px
	&:after
		content: ''
		display: block
		clear: both
	h1
		margin-bottom: 20px
	p
		font-size: 15px
		line-height: 23px
	fieldset
		margin-bottom: 20px
	legend
		display: inline-block
		box-sizing: border-box
		font-weight: 500
		display: block
		margin: 20px
		text-align: center
	.form-group
		position: relative
		margin-bottom: 15px
		&.required
			.col-sm-2
				position: relative
				&:after
					content: ' *'
					color: $color-1
					font-size: 12px
		&:after
			content: ''
			display: block
			clear: both
		input[type=tel], input[type=text], input[type=email], input[type=password], textarea
			box-sizing: border-box
			height: 50px
			width: 100%
			color: $color-2
			line-height: 50px
			border: 1px solid $border-1
			border-radius: 5px
			font-size: 14px
			padding: 0 15px
			background: $white
			box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
			&:focus
				border-color: #c5c5c5
		textarea
			height: 200px
			line-height: 20px
			padding: 15px
		input[type=submit]
			box-sizing: border-box
			height: 50px
			width: 100%
			max-width: 220px
			color: $white
			line-height: 48px
			border-radius: 5px
			font-size: 16px
			padding: 0 15px
			background: $color-1
			text-align: center
			font-weight: 500
			cursor: pointer
			border: 0px
			&:hover
				background: $color-hover
		label
			font-size: 14px
			color: $color-2
			margin-top: 16px
		.col-sm-2
			width: 28%
			float: left
			text-align: right
			padding: 0px
		.col-sm-10
			width: 68%
			float: right
			padding: 0px
	.buttons
		width: 68%
		float: right
	.radio-bottom
		font-size: 14px
		color: $color-2
		line-height: 18px
		label
			&:before
				top: 3px !important
	.radio, .radio-bottom
		input[type=checkbox]
			margin: 0
			padding: 0
			opacity: 0
			position: absolute
			& + label
				position: relative
				cursor: pointer
				display: block
				margin-bottom: 15px
				padding: 7px 0
				padding-left: 38px
				&:before
					content: ''
					position: absolute
					top: 0px
					left: 0px
					display: inline-block
					width: 24px
					height: 24px
					background: $white
					border-radius: 3px
					border: 1px solid $border-2
					box-sizing: border-box
			&:checked + label:before
				box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
				border-color: #c5c5c5
				background: url('../images/true-icon.svg') no-repeat center center
		input[type=radio]
			margin: 0
			padding: 0
			opacity: 0
			position: absolute
			& + label
				position: relative
				cursor: pointer
				display: block
				margin-bottom: 15px
				padding: 7px 0
				padding-left: 38px
				&:before
					content: ''
					position: absolute
					top: 0px
					left: 0px
					display: inline-block
					width: 24px
					height: 24px
					background: $white
					border-radius: 3px
					border: 1px solid $border-2
					box-sizing: border-box
			&:checked + label:before
				box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
				border-color: #c5c5c5
			&:checked + label:after
				content: ''
				position: absolute
				display: block
				width: 14px
				height: 14px
				background: $color-1
				border-radius: 3px
				top: 5px
				left: 5px
	.buttons
		input[type=submit], a.btn
			display: inline-block
			box-sizing: border-box
			height: 50px
			width: 100%
			max-width: 220px
			color: $white
			line-height: 48px
			border-radius: 5px
			font-size: 16px
			padding: 0 15px
			background: $color-1
			text-align: center
			font-weight: 500
			cursor: pointer
			border: 0px
			&:hover
				background: $color-hover
	&__block
		max-width: 620px
		padding: 30px
		background: #f5f5f5
		border-radius: 5px
		margin: 0 auto
		margin-bottom: 20px
		overflow: hidden
		box-sizing: border-box

.alr
	border-radius: 5px
	margin-bottom: 20px
	font-size: 14px
	color: $white
	line-height: 20px
	padding: 20px 30px
	margin-top: 10px
	&--danger
		background: #e25555
	&--success
		background: #75b771
	&--m-t
		margin-top: 20px
		margin-bottom: 0px
		min-width: 180px
	&--profile
		margin-top: -20px
		margin-bottom: 30px
	a
		color: $white
		text-decoration: underline
		font-weight: 500

// collapse
.fade
	opacity: 0
	transition: opacity 0.15s linear
	&.in
		opacity: 1
.collapse
	display: none
	&.in
		display: block
tr.collapse .in
	display: table-row
tbody.collapse .in
	display: table-row-group
.collapsing
	position: relative
	height: 0
	overflow: hidden
	transition-property: height, visibility
	transition-duration: 0.35s
	transition-timing-function: ease